src/main/resources/schemas/xsd/smev/PFR_MSKD/commons/mskd-types-1.1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn://iis.sfr.ru/mskd/types/1.1.0"
	targetNamespace="urn://iis.sfr.ru/mskd/types/1.1.0" elementFormDefault="qualified">
	<!-- ========================== SIMPLE TYPES ========================== -->
	<xs:simpleType name="guid">
		<xs:restriction base="xs:string">
			<xs:pattern
				value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"
			/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="notEmptyString">
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-10">
		<xs:restriction base="notEmptyString">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-20">
		<xs:restriction base="notEmptyString">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-50">
		<xs:restriction base="notEmptyString">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-100">
		<xs:restriction base="notEmptyString">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FileNameType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Za-zа-яёА-ЯЁ_][A-Za-z0-9а-яёА-ЯЁ_.-]{0,99}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-200">
		<xs:restriction base="notEmptyString">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-500">
		<xs:restriction base="notEmptyString">
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-4000">
		<xs:restriction base="notEmptyString">
			<xs:maxLength value="4000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GenderType">
		<xs:annotation>
			<xs:documentation>Пол.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="M"/>
			<xs:enumeration value="F"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SNILSType">
		<xs:annotation>
			<xs:documentation>СНИЛС</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="11"/>
			<xs:pattern value="\d{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OKTMOType">
		<xs:annotation>
			<xs:documentation xml:lang="ru">
        Код ОКТМО
      </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="\d{8,11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OKATOType">
		<xs:annotation>
			<xs:documentation xml:lang="ru">
        Код ОКАТО
      </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="\d{8,11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MoneyType">
		<xs:annotation>
			<xs:documentation xml:lang="ru">
        Тип, используемый для представления суммы в рублях и копейках, а также в иностранной валюте - вещественное число с дробной частью в 2 знака
      </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:pattern value="-?[0-9]+\.\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RegNumType">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Регистрационный номер страхователя</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{3}-\d{3}-\d{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FLINNType">
		<xs:annotation>
			<xs:documentation xml:lang="ru">ИНН физического лица (Источник - ВС ФНС)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="12"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LEINNType">
		<xs:annotation>
			<xs:documentation xml:lang="ru">ИНН юридического лица (Источник - ВС ФНС)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KPPType">
		<xs:annotation>
			<xs:documentation xml:lang="ru">
        Код причины постановки на учет (КПП) - 5 и 6 знаки от 0-9 и A-Z (Источник - ВС ФНС)
      </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{2})([0-9A-Z]{2})([0-9]{3})"
			/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PhoneType">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Номер телефона</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="7\d{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EmailType">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Адрес электронной почты</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z_.-]{2,50}@[0-9a-zA-Z_./-]{2,50}.[a-zA-Z]{2,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ========================== GROUPS ========================== -->
	<xs:group name="FioLightGroup">
		<xs:annotation>
			<xs:documentation xml:lang="ru">ФИО</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:sequence>
					<xs:element name="Surname" type="string-100">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Фамилия</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FirstName" type="string-100" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="ru">Имя (необязательное при обязательной фамилии)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:element name="FirstName" type="string-100">
					<xs:annotation>
						<xs:documentation xml:lang="ru">Имя (обязательное при отсутствии фамилии)</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="Patronymic" type="string-100" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Отчество (необязательное)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="InnKppGroup">
		<xs:annotation>
			<xs:documentation>Данные Юридического лица (ЮЛ)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="INN_LE" type="LEINNType">
				<xs:annotation>
					<xs:documentation xml:lang="ru">ИНН ЮЛ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KPP" type="KPPType">
				<xs:annotation>
					<xs:documentation xml:lang="ru">КПП</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<!-- ========================== COMPLEX TYPES ========================== -->
	<xs:complexType name="BirthPlaceType">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Место рождения</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BirthSettlement" type="string-100" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Город рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BirthDistrict" type="string-100" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Район рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BirthRegion" type="string-100" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Регион рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BirthCountry" type="string-100" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Страна рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IdentityDocumentDataType">
		<xs:annotation>
			<xs:documentation xml:lang="ru">Документ, удостоверяющий личность</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocSeries" type="string-100" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Серия ДУЛ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocNumber" type="string-100" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Номер ДУЛ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AttachmentsDataType">
		<xs:annotation>
			<xs:documentation xml:lang="ru">
        Тип данных о вложениях
      </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AttachmentData" type="AttachmentDataType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="ru">
            Данные о вложении
          </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ApplicationRequestType">
		<xs:annotation>
			<xs:documentation xml:lang="ru">
        Унифицированный тип для подачи заявления из СМЭВ в ПФР
      </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SNILS" type="SNILSType">
				<xs:annotation>
					<xs:documentation xml:lang="ru">
            СНИЛС заявителя
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExternalRegistrationData" type="ExternalRegistrationDataType">
				<xs:annotation>
					<xs:documentation xml:lang="ru">
            Регистрационные данные обращения в МФЦ/ЕПГУ
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OKATO" type="OKATOType">
				<xs:annotation>
					<xs:documentation xml:lang="ru">
            Код ОКАТО
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OKTMO" type="OKTMOType">
				<xs:annotation>
					<xs:documentation xml:lang="ru">
            Код ОКТМО
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MFCCode" type="string-20">
				<xs:annotation>
					<xs:documentation xml:lang="ru">
            Код МФЦ
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ApplicationFileName" type="FileNameType">
				<xs:annotation>
					<xs:documentation xml:lang="ru">
            Имя файла заявления, передаваемого в качестве вложения к сообщению
          </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ApplicationResponseType">
		<xs:annotation>
			<xs:documentation>
        Унифицированный тип для ответа сервисов подачи заявлений
      </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ExternalRegistrationNumber" type="string-50">
				<xs:annotation>
					<xs:documentation xml:lang="ru">
            Регистрационный номер обращения, переданный в запросе
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProcessingStatusCode" type="xs:int">
				<xs:annotation>
					<xs:documentation xml:lang="ru">
            Код статуса обработки
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProcessingStatusComment" type="string-4000">
				<xs:annotation>
					<xs:documentation xml:lang="ru">
            Комментарий к статусу
          </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AttachmentDataType">
		<xs:annotation>
			<xs:documentation xml:lang="ru">
        Тип описания данных об одном вложении
      </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FileName" type="FileNameType">
				<xs:annotation>
					<xs:documentation xml:lang="ru">
            Имя файла вложения (то же, что в блоке вложений в конверте СМЭВ)
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeCode" type="string-10">
				<xs:annotation>
					<xs:documentation xml:lang="ru">
            Код типа вложения
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="string-200">
				<xs:annotation>
					<xs:documentation xml:lang="ru">
            Описание вложения
          </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExternalRegistrationDataType">
		<xs:annotation>
			<xs:documentation xml:lang="ru">
        Регистрационные данные во внешней системе
      </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ExternalRegistrationNumber" type="string-50">
				<xs:annotation>
					<xs:documentation xml:lang="ru">
            Регистрационный номер обращения, присвоенный в МФЦ/ЕПГУ
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExternalRegistrationDate" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="ru">
            Дата и время регистрации обращения в МФЦ/ЕПГУ
          </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
