src/main/resources/schemas/xsd/smev/PFR_MSKD/MQ_Common/SMEV3_Routing_Mockup.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rtn="urn://www.bssys.com/products/bss-egg/SMEV3_Routing_Mockup" targetNamespace="urn://www.bssys.com/products/bss-egg/SMEV3_Routing_Mockup" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="SMEV3_Routing" type="rtn:SMEV3_Routing_Types">
		<xs:annotation>
			<xs:documentation>Блок передачи данных о маршрутизации сообщения</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SMEV3_Routing_Types">
		<xs:annotation>
			<xs:documentation>Тип для "Блок передачи данных о маршрутизации сообщения"</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="rtn:GeneralRecipients" minOccurs="0"/>
			<xs:element ref="rtn:DynamicRecipients" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GeneralRecipients" type="rtn:RecipientsTypes">
		<xs:annotation>
			<xs:documentation>Генеральный получатели</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DynamicRecipients" type="rtn:RecipientsTypes">
		<xs:annotation>
			<xs:documentation>Динамические получатели</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Recipient" type="rtn:Value">
		<xs:annotation>
			<xs:documentation>Получатель</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:simpleType name="Value">
		<xs:restriction base="xs:string">
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RecipientsTypes">
		<xs:annotation>
			<xs:documentation>Тип для "Генеральный получатели" и "Динамические получатели"</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="rtn:Recipient" maxOccurs="1000"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
