src/main/resources/schemas/xsd/docs/ostmsk-1.0.0.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn://iis.ecp.ru/ostmsk/1.0.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn://iis.ecp.ru/ostmsk/1.0.0">
	<xs:annotation>
		<xs:documentation xml:lang="ru">
			Получение сведений о доступных для получателя услуги видов направления распоряжения МСК, о размере (текущем остатке) МСК
		</xs:documentation>
	</xs:annotation>
	<xs:element name="Request">
		<xs:annotation>
			<xs:documentation xml:lang="ru">
        Сообщение-запрос
      </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RequestId" type="xs:string">
					<xs:annotation>
						<xs:documentation>Номер запроса</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RequestDate" type="xs:date">
					<xs:annotation>
						<xs:documentation>Дата запроса</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="FIO" type="FIOType">
					<xs:annotation>
						<xs:documentation>ФИО зпявителя</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SNILS" type="SNILSType">
					<xs:annotation>
						<xs:documentation xml:lang="ru">СНИЛС заявителя</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="BirthDay" type="xs:date">
					<xs:annotation>
						<xs:documentation>Дата рождения заявителя</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Response">
		<xs:annotation>
			<xs:documentation xml:lang="ru">
        Сообщение-ответ
      </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RequestId" type="xs:string">
					<xs:annotation>
						<xs:documentation>Номер запроса</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="MSKRight" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Наличие права:
							True - Право есть
							False - Права нет
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="CertMSK" type="CertMSKType">
					<xs:annotation>
						<xs:documentation>Сведения о сертификатах. Заполняется если Наличие права = True</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ProcessingStatusCode" type="xs:int">
					<xs:annotation>
						<xs:documentation xml:lang="ru">
            Код статуса обработки
          </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="ProcessingStatusComment" type="string-4000">
					<xs:annotation>
						<xs:documentation xml:lang="ru">
            Комментарий к статусу
          </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- ========================== SIMPLE TYPES ========================== -->
	<xs:simpleType name="string-50">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-100">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-200">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-4000">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SNILSType">
		<xs:annotation>
			<xs:documentation>СНИЛС</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="11"/>
			<xs:pattern value="\d{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ========================== COMPLEX TYPES ========================== -->
	<xs:complexType name="CertMSKType">
		<xs:annotation>
			<xs:documentation>Данные сертификата на МСК</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Serial" type="string-50">
				<xs:annotation>
					<xs:documentation>Серия сертификата</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="string-50">
				<xs:annotation>
					<xs:documentation>Номер сертификата</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Issued" type="xs:date">
				<xs:annotation>
					<xs:documentation>Дата выдачи сертификата</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Owner" type="string-50">
				<xs:annotation>
					<xs:documentation>Наименование статуса владельца сертификата</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ostatok">
				<xs:annotation>
					<xs:documentation>Доступный остаток МСК</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="5" name="MSKR">
				<xs:annotation>
					<xs:documentation>Доступные направления распоряжения</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Type" type="string-100">
							<xs:annotation>
								<xs:documentation>Наименование вида направления расходования средств МСК</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element minOccurs="0" name="Comment" type="string-4000">
							<xs:annotation>
								<xs:documentation>Комментарий</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FIOType">
		<xs:annotation>
			<xs:documentation xml:lang="ru">ФИО</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Surname" type="string-100">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Фамилия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FirstName" type="string-100">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Имя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Patronymic" type="string-100">
				<xs:annotation>
					<xs:documentation xml:lang="ru">Отчество (необязательное)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>